<% title "Calificacion" %>
<h1>Evaluacion</h1>
 <CENTER>
<table border=3>
<tr>
    <% @califications.each do |calification| %>
    <th>
        <Center><Strong><%= calification.name %></Strong></Center>
        <Center><%= calification.ponderation %></Center>
    </th>
  <% end %>
</tr>
<tr>
  <% @califications.each do |calification| %>
    <th>
        <Center><%=render calification.notes %></Center>
        <%= link_to "Editar Nota", edit_calification_note_path(calification, note) %>
    </th>
    <% end %>
</tr>
</table>
<br><br>
</CENTER>
<%= link_to 'Agregar Calificacion', new_calification_path, class: "btn btn-large btn-primary" %>
