<% title "Evaluacion" %>
<h1>Evaluacion</h1>
 
<table>
  <tr>
    <th>Nombre Trabajo</th>
    <th>Ponderacion</th>
  </tr>
 
  <% @califications.each do |calification| %>
    <tr>
      <td><%= calification.name %></td>
      <td><%= calification.ponderation %></td>
      <td><%= link_to 'Ver', calification %></td>
      <td><%= link_to 'Editar', edit_calification_path(calification) %></td>
      <td><%= link_to 'Eliminar', calification_path(calification),
                    method: :delete, data: { confirm: 'Seguro de eliminar calificacion?' } %></td>
    </tr>
  <% end %>
</table>
<br><br>
<%= link_to 'Agregar Calificacion', new_calification_path, class: "btn btn-large btn-primary" %>
