<% title @calification.name %>
<H1>Calificacion</H1>
<CENTER>
	<p>
  		<strong>Trabajo:</strong><br>
  		<%= @calification.name%><br>
  		<strong>Ponderacion:</strong><br>
  		<%= @calification.ponderation%><br>
		<strong>Calificacion:</strong><br>
		<%= render @calification.notes %>
	</p>

	<%if current_user.rol=='Docente' && @calification.notes.count <1 %>
		<%= render "notes/form" %>
	<%end%>

</CENTER>
<%= link_to 'Volver', califications_path %>
| <%= link_to 'Editar', edit_calification_path(@calification) %>